<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="conLayout" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${level:uppercase=true:padding=5}] [${threadname}] [${logger:shortName=true}]: ${message} ${exception:innerFormat=Message,StackTrace}"/>

	<targets>
		<default-wrapper xsi:type="AsyncWrapper" overflowAction="Block" />
		<target name="stdout" xsi:type="ColoredConsole" layout="${conLayout}"/>
		<target name="ds" xsi:type="Debugger" layout="${conLayout}"/>
		<target name="blackhole" xsi:type="Null"/>
	</targets>

	<rules>
		<logger name="Quartz*" minlevel="Trace" maxlevel="Debug" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="stdout" />
		<logger name="*" minlevel="Trace" writeTo="ds" />
	</rules>
</nlog>